body{
    
}
.justify-content-end{
    position: relative;
    left: 150px;
}
.carousel{
    margin-top: 35px;
}
.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 50px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    border: none;
    color: white;
    background-image: linear-gradient(to bottom,#f869a2 0%, #ff0a68 100%);
    border-radius: 5px;
    padding: 5px 20px;
}
.categories{
    margin-top: 50px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(25deg, #FF9C35, tomato);
}
.cat2{
    background-color: #fd5196;
}
.cat3{
    background-image: linear-gradient(#4289FF, #1b71fc);
}
.Shoes img{
    width: 200px;
    height: 150px;
}
#b-shadow{
    border: none;
    box-shadow: 5px 5px 15px gray;
    height: 500;
    border-radius: 10px;
}
.backpack img{
    width: 200px;
    height: 150px;
    position: relative;
    left: 70px;
}
#card-footer{
    background-color: white;
    border-top: none;
    padding: 15px;
}
#subscribe{
    width: 900px;
    height: 300px;
}
#subscribe h6{
    color: gray;
}
.bg{
    background-color: white;
    height: 400px;
}
.t-align{
    text-align: center;
}
footer{
    text-align: center;
}